<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	
</head>
<body>
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header ">
					<a class="navbar-brand" th:href="@{/usuario/irNANGO}">NANGO</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li ><a class="active" th:href="@{/torneo/irTorneos}" >Torneos</a></li>
					    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"  role="button" href="" >Zona Horaria<span class="caret"></span></a>
							 <ul class="dropdown-menu" >
							    <li ><a th:href="@{/usuario/listar}">General</a></li>	
								<li ><a th:href="@{/usuario/listar}">UTC-9</a></li>																			
								<li ><a th:href="@{/usuario/listar}" >UTC-8</a></li>	
								<li ><a  th:href="@{/usuario/listar}" >UTC-7</a></li>
								<li ><a th:href="@{/usuario/listar}">UTC-6</a></li>																			
								<li ><a th:href="@{/usuario/listar}" >UTC-5</a></li>	
								<li ><a  th:href="@{/usuario/listar}" >UTC-4</a></li>
								<li ><a th:href="@{/usuario/listar}" >UTC-3</a></li>	
								<li ><a  th:href="@{/usuario/listar}" >UTC-2</a></li>
								<li ><a  th:href="@{/usuario/listar}" >UTC-1</a></li>		
							</ul>
						</li>	
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" href="" >Mantenimiento<span class="caret"></span></a>
							 <ul class="dropdown-menu" >
								<li><a class="dropdown-item" th:href="@{/usuario/listar}" >Mant. de Usuarios</a></li>																			
								<li><a class="dropdown-item" th:href="@{/torneo/listar}" >Mant. de Torneos</a></li>
								<li><a class="dropdown-item" th:href="@{/SolicitudTorneo/listar}" >Mant. de Solicitudes</a></li>
								<li><a class="dropdown-item" th:href="@{/denuncia/listar}" >Mant. de Denuncias</a></li>
							 </ul>
						</li>	
				
						<li ><a class="active" >Estadisticas</a></li>	
						
									
					</ul>	
														
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" href="" >Usuario<span class="caret"></span></a>
							 <ul class="dropdown-menu" >
								<li ><a th:href="@{/usuario/iringresarInscribirseATorneo}">Inscribirse a torneo</a></li>
								<li ><a th:href="@{/usuario/iringresarSolicitarTorneo} ">Solicitar torneo</a></li>	
								<li class="divider"></li>																			
								<li ><a th:href="@{/usuario/iringresarMisTorneos}" >Torneos inscritos</a></li>
								<li ><a th:href="@{/usuario/listar}">Solicitudes de torneos</a></li>
								<li class="divider"></li>	
								<li ><a  th:href="@{/usuario/listar}" >Ver perfil</a></li>	
								<li class="divider"></li>																		
								<li ><a th:href="@{/usuario/bienvenida}" >Cerrar sesión</a></li>	
							</ul>
						</li>			                  
   					</ul>
   										  					        					
				</div>		
			</div>
		</nav>
	</div>

</body>
</html>
