<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Registro</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/categoria.js}"></script>

</head>
<body>
	<div class="form-group">
					<h2 class="text-center my-15">Inscripción a Torneo</h2>
						
	</div>	
	<div class="container">
		<form th:action="@{/InscripcionTorneo/registrar}" method="post"
			th:object="${InscripcionTorneo}">
			<div class="form-group">
				
				<label for="idInscripcionTorneo">ID:</label> 
				<input readonly="readonly" type="text" class="form-control" th:field="*{idInscripcionTorneo}"></input>
				<div class="form-group">
				
				
				<label for="fechaInscripcion">Fecha de inscripción:</label> 			
                <input type="date" th:field="*{fechaInscripcion}"
				class="form-control" id="fechaInscripcion"></input>
				
			
				 <label for="torneo">Torneo:</label> 		    	
				<select  class="form-control" th:field="*{torneo}" >
				  <option th:each="torneo: ${torneos}" th:text="${torneo.nombreTorneo}"
				          th:value="${torneo.idTorneo}"  ></option>	  
				</select>
				
				 <label for="usuario">Usuario:</label> 		    	
				<select  class="form-control" th:field="*{usuario}" >
				  <option th:each="usuario: ${usuarios}" th:text="${usuario.NUsuario}"
				          th:value="${usuario.IDUsuario}"  ></option>	  
				</select>
				
			
			</div>
			<button type ="submit" class="btn btn-primary">Aceptar</button>
			<a href="/usuario/bienvenida" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
