<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Torneos</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
 
	<div th:replace="fragments/header :: header" ></div>

	<h2 class="text-center my-15" >Mantenimiento de Torneos</h2>
	
	<div class="container">
	<hr>
	<a style="border-bottom-color: green" th:href="@{/torneo/irRegistrar}"
						id="add-row" type="button"
						class="btn btn-primary btn-md btn-block"> <span
						class="glyphicon glyphicon-plus"></span> Agregar Torneo
					</a>
	</div>
	<div class="container">
	<hr>
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					
					
					<table class="table table-bordered table-hover table-striped "
						id="tab_logic">
						<thead>
							<tr class="bg-primary">
								<th class="text-center"  >VIDEOJUEGO</th>
								<th class="text-center">TORNEO</th>
								<th class="text-center">MODO</th>
								<th class="text-center">F.INICIO</th>
								<th class="text-center">COSTO</th>
								<th class="text-center">VACANTES</th>
								<th class="text-center">SERVIDOR</th>
								<th class="text-center">ESTADO</th>
								<th class="text-center">SOLICITUD</th>
								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">MODIFICAR</th>
								<th class="text-center">ELIMINAR</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="t: ${listaTorneo}" align="center" >
							<!-- th:text muestra una linea de texto -->
								<td th:text="${t.videojuego.nombreVideojuego}"></td>
								<td th:text="${t.nombreTorneo}"></td>
								<td th:text="${t.modoTorneo}"></td>
								<td th:text="${t.fechaInicio}"></td>
								<td th:text="${t.costoTorneo}"></td>
								<td th:text="${t.vacantes}"></td>
								<td th:text="${t.servidor.nombreServidor}"></td>
								<td th:text="${t.estadTranscuTorneo}"></td>
								<td th:text="${t.estadCreaTorneo}"></td>
															
								<!-- th:href Redirecciona -->
								<td><button th:href="@{/torneo/verTorneo2?id=}+${t.idTorneo}"  class="btn btn-success " style="height: 40px ; width: 80px " >Ver</button></td>
								<td><a th:href="@{'/torneo/modificar/' + ${t.idTorneo}}"><span class="glyphicon glyphicon-pencil" style=" "></span></a></td>
								<td><a th:href="@{/torneo/eliminar?id=}+${t.idTorneo}"><span class="glyphicon glyphicon-trash" style=" "></span></a></td>
								


							</tr>
						</tbody>

					</table>

				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
