<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>NANGO</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/categoria.js}"></script>

</head>
<body>

<div th:replace="fragments/header :: header"></div>
				<div class="row">
				  <div class="col-md-12">
				
				    <div id="mdb-lightbox-ui"></div>
				
				    <div class="mdb-lightbox no-margin">
				
				      <figure class="col-md-4">
				        <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(121).jpg"
				          data-size="800x500">
				          <img alt="picture" src="https://static-cdn.jtvnw.net/ttv-boxart/Dota%202-144x192.jpg"
				            width="144px" height="192px">
				          
				        </a>
				      </figure>
				
				  
				
				   
				
				    </div>
				
				  </div>
				</div>
	
</body>
</html>
