<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Registro</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/categoria.js}"></script>

</head>
<body>
	<div class="form-group">
					<h2 class="text-center my-15">Registro de usuario</h2>
						
	</div>	
	<div class="container">
	<hr>
		<form th:action="@{/usuario/registrar}" method="post" class="form-horizontal"
			th:object="${usuario}">
			<div class="form-group">
					
					
				<label class="control-label" for="NUsuario" >Nombre</label> 
				<input type="text" th:field="*{NUsuario}" id="NUsuario" class="form-control"></input>
			    <p th:if="${#fields.hasErrors('NUsuario')}" th:errors="*{NUsuario}" class="alert alert-danger" ></p>
			
				<label for="DBirth">Fecha de nacimiento:</label> 			
                <input type="date" th:field="*{DBirth}"
				class="form-control" id="DBirth" min="${execInfo.now}"></input>
				<p th:if="${#fields.hasErrors('DBirth')}" th:errors="*{DBirth}" class="alert alert-danger" ></p>
				
				
				<label for="EmailUsuario">Correo electronico:</label> 			
                <input type="text" th:field="*{EmailUsuario}"
				class="form-control" id="EmailUsuario"></input>
				<p th:if="${#fields.hasErrors('EmailUsuario')}" th:errors="*{EmailUsuario}" class="alert alert-danger" ></p>
				
				<label for="ClvUsuario" >Clave:</label> 			
                <input type="password" th:field="*{ClvUsuario}"
				class="form-control" id="ClvUsuario"></input>
				<p th:if="${#fields.hasErrors('ClvUsuario')}" th:errors="*{ClvUsuario}" class="alert alert-danger" ></p>
				
				<label for="SaldUsuario">Saldo:</label> 			
                <input type="text" th:field="*{SaldUsuario}"
				class="form-control" id="SaldUsuario"></input>
			    <p th:if="${#fields.hasErrors('SaldUsuario')}" th:errors="*{SaldUsuario}" class="alert alert-danger" ></p>
			
				<label for="InsigUsuario">Insignia:</label> 		    	
				<select  class="form-control" th:field="*{InsigUsuario}" readonly="readonly">
				  <option th:value="Bronce"  >Bronce</option>
				  <option th:value="Platino"  >Platino</option>
				  <option th:value="Dorado"  >Dorado</option>
				  <option th:value="Estrella"  >Estrella</option>			  
				</select>
				
				
				<label for="FUsuario">Estado:</label> 		    	
				<select  class="form-control" th:field="*{FUsuario}" readonly="readonly">
				  <option th:value="Habilitado"  >Habilitado</option>	
				   <option th:value="Inhabilitado"  >Inhabilitado</option>	  
				</select>
				
			
				 <label for="ciudad">Ciudad:</label> 		    	
				<select  class="form-control" th:field="*{ciudad}" >
				  <option th:each="ciudad: ${ciudades}" th:text="${ciudad.nombreCiudad}"
				          th:value="${ciudad.idCiudad}"  ></option>	  
				</select>
				
		
			
			</div>
			
			<div class ="col-md-7 ">
			<button type ="submit" class="btn btn-primary ">Registrarse</button>
			<a href="/usuario/bienvenida" class="btn btn-danger">Cancelar</a>
			</div>
			
			
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
